body {
    font-family: Arial, sans-serif;
    background-color: #f4f9f9ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.screenshot {
    width: 65%; /* Set the image width to 40% of its container */
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

h1,
h2 {
    margin-bottom: 20px;
    color: #333;
}

.consent-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    text-align: left;
}

.ans-no {
    background-color: rgb(246, 71, 71);
    color:white;
}
.ans-no:hover {
    background-color: rgb(224, 36, 36);
}
.consent-section p {
    margin-bottom: 15px;
    text-align: left;
}

.confirm-action {
    background-color: #32de84;
    color: white;
}

.confirm-action:hover {
    background-color:#1CAC78;

}
form div {
    margin-bottom: 15px;

    .consent-section {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #f9f9f9;
        text-align: left;
    }
}

/* .what-are-you-buying-section, */
.confirmation-section,
.transaction-history-section,
.visualization-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.transaction-history-section th,
.transaction-history-section td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.transaction-history-section th {
    background-color: #e9ecef;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button-group {
    margin-top: 20px;
    text-align: center;
}

